body .menu {
    animation: fadeIn 1.3s;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
}

body .menu-item {
    align-items: center;
    background-color: var(--background-light);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    padding: 4rem;
    transition: background-color 0.3s;
}
