:root {
    --border-color: #222;
    --font-color: #eee;
    --font-color-dark: #aaa;
    --background-dark: rgba(0, 0, 0, 0.9);
    --background-light: rgba(0, 0, 0, 0.6);
    --background-light-hover: rgba(99, 99, 99, 0.4);
    --background-red: #450a0a;
  }

@font-face {
    font-family: 'Edo SZ';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/edo-sz.ttf') format('truetype');
}

@font-face {
    font-family: 'FF Meta';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/meta-normal.ttf') format('truetype');
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'FF Meta';
    font-size: 1.6rem;
    color: var(--font-color);
    background-image: url('./assets/images/background.jpg');
    background-attachment: fixed;
    background-size: cover;
}

body .content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body .header {
    align-items: center;
    background-color: var(--background-red);
    border-bottom: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    width: 100%;
}

body .restaurant-name {
    font-family: 'Edo SZ';
    font-size: 5rem;
    letter-spacing: 0.4rem;
    margin-bottom: 1rem;
}

button {
    border-style: none;
    border-bottom-style: none;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    outline: none;
}

.button {
    background-color: transparent;
    border-bottom: 2px solid transparent;
    font-size: 1.5rem;
    padding: 1.1rem;
    transition: transform 0.3s;
}

.button:hover {
    border-bottom: 2px solid var(--font-color);
    transform: scale(1.2);
}

.button:active {
    border-bottom: 2px solid var(--font-color);
}

body .main {
    background-color: var(--background-light);
    border: 1px solid var(--border-color);
    font-size: 2rem;
    margin: 6rem 0;
    max-width: 700px;
    padding: 4rem;
    display: flex;
    justify-content: center;
}

body .home {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: fadeIn 1.5s;
    height: 500px;
    width: 600px;
}

body .home p {
    padding: 1rem;
}

body .home img {
    border-radius: 50%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    opacity: 90%;
    width: 50%;
}

body .menu {
    animation: fadeIn 1.3s;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
}

body .menu-item {
    align-items: center;
    background-color: var(--background-light);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    padding: 4rem;
    transition: background-color 0.3s;
}

body .contact {
    align-items: center;
    animation: fadeIn 1.5s;
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    width: 600px;
}

body .contact p {
    padding: 1rem;
    width: 100%;
}

body .contact img {
    max-height: 420px;
    opacity: 90%;
    padding: 1rem;
}